<p-sidebar [(visible)]="isVisible" position="right" [style]="{width:'40em'}" (onHide)="onCloseFlyout()"
  [dismissible]="false">
  <h4>Edit</h4>

  <form class="row g-3 mt-4" [formGroup]="editForm">
    <div class="col-12">
      <label for="sDate" class="form-label">
        Payment Start Date
      </label>
      <input id="sDate" class="form-control" type="text" pInputText formControlName="paystartdate">
    </div>
    <div class="col-12">
      <label for="eDate" class="form-label">
        Payment End Date
      </label>
      <input id="eDate" class="form-control" type="text" pInputText formControlName="payenddate">
    </div>
    <div class="col-12">
      <label for="location" class="form-label">
        Income Fix Compenation
      </label>
      <input id="location" class="form-control" type="text" pInputText formControlName="incomefixcomp">
    </div>
    <div class="col-12">
      <label for="location" class="form-label">
        Income Variable Compenation
      </label>
      <input id="location" class="form-control" type="text" pInputText formControlName="incomevarcomp">
    </div>
    <div class="col-12">
      <label for="location" class="form-label">
        Days Leave
      </label>
      <input id="location" class="form-control" type="text" pInputText formControlName="daysleaveprd">
    </div>
    <div class="col-12">
      <label for="location" class="form-label">
        Record Type
      </label>
      <input id="location" class="form-control" type="text" pInputText formControlName="recordtype">
    </div>
    <div class="d-flex col-12 justify-content-between">
      <button pButton pRipple type="button" label="Cancel" class="p-button-outlined p-button-danger"
        (click)="onCloseFlyout()"></button>
      <p-button [label]="'Update'" (click)="onSave()"></p-button>
    </div>
  </form>

</p-sidebar>
<div class="custom-toast">
  <p-toast></p-toast>
</div>