<div class="">
    <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" placeholder="Search" pInputText [(ngModel)]="value" />
    </span>
    <span class="flex-end">
        <input id="selectedFile" type="file" name="files[]" multiple id="jsonFile"
            (change)="selectedFileChange($event)" />
    </span>
</div>
<div class="card">
    <p-table #dt1 dataKey="code" [value]="sifRecords" [scrollable]="true" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">Employee Id</th>
                <th style="min-width:200px">Pay Start Date</th>
                <th style="min-width:200px">Pay End Date</th>
                <th style="min-width:200px">Load Amount</th>
                <th style="min-width:200px">Inc Load Amount</th>
                <th style="min-width:200px">Emp Leave Days</th>
                <th style="min-width:200px">Currency</th>
                <th style="min-width:200px">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.empid}}</td>
                <td>{{data.paystartdate}}</td>
                <td>{{data.payenddate}}</td>
                <td>{{data.incomefixcomp}}</td>
                <td>{{data.incomevarcomp}}</td>
                <td>{{data.daysleaveprd}}</td>
                <td>{{data.recordtype}}</td>
                <td>
                    <button class="action-btns table-delete-ico"
                    (click)="onEdit(data)"> <img src="/assets/images/edit-ico.png" />
                    </button>
                    <button class="action-btns table-delete-ico"
                    (click)="onDelete(data)"> <img src="/assets/images/delete-ico.png" />
                    </button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" [attr.colspan]="8">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<ng-container *ngIf="showEditSIF">
    <app-edit-sif-info [isVisible]="showEditSIF" [data]="selectedRecord" (closeFlyout)="onCloseShowEditSIF()"></app-edit-sif-info>
</ng-container>

<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>