<div class="card">
    <div class="row m-2">
        <div class="col-3">
            <label for="ackNakFileName" class="form-label">
                ACK NAK File Name
            </label>
            <input id="ackNakFileName" class="form-control" readonly type="text" [value]="ackNakDetail?.ackNakFileName" pInputText>
        </div>
        <div class="col-3">
            <label for="ackNakForFileName" class="form-label">
                ACK NAK For File Reason
            </label>
            <input id="ackNakForFileName" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakForFileName" pInputText>
        </div>
        <div class="col-3">
            <label for="ackNakFileStatus" class="form-label">
                ACK NAK File Status
            </label>
            <input id="ackNakFileStatus" class="form-control" readonly type="text" [value]="ackNakDetail?.ackNakFileStatus" pInputText>
        </div>
        <div class="col-3">
            <label for="ackNakFileRemarks" class="form-label">
                ACK NAK File Remarks
            </label>
            <input id="ackNakFileRemarks" class="form-control" readonly type="text" [value]="ackNakDetail?.ackNakfileRemarks" pInputText>
        </div>
    </div>
    <br>
    <div class="row m-2">
        <div class="col-3">
            <label for="ackNakForFileType" class="form-label">
                ACK NAK For File Type
            </label>
            <input id="ackNakForFileType" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakForFileType" pInputText>
        </div>
        <div class="col-3">
            <label for="ackNakFileDate" class="form-label">
                ACK NAK File Date
            </label>
            <input id="ackNakFileDate" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakFileDate" pInputText>
        </div>
    </div>
    <br *ngIf="ackNakDetail?.acknakAhrRecords.length > 0">
    <hr *ngIf="ackNakDetail?.acknakAhrRecords.length > 0">
    <div class="m-2" *ngIf="ackNakDetail?.acknakAhrRecords.length > 0">
        <h6>ACK NAK AHR Records</h6>
        <div class="row m-2">
            <div class="col-3">
                <label for="proceedFileName" class="form-label">
                    Proceed File Name
                </label>
                <input id="proceedFileName" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAhrRecords[0]?.proceedFileName" pInputText>
            </div>
            <div class="col-3">
                <label for="ahrRecType" class="form-label">
                    Rec Type
                </label>
                <input id="ahrRecType" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAhrRecords[0]?.recType" pInputText>
            </div>
            <div class="col-3">
                <label for="ahrRecData" class="form-label">
                    Rec Data
                </label>
                <input id="ahrRecData" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAhrRecords[0]?.recData" pInputText>
            </div>
            <div class="col-3">
                <label for="ahrFileStatus" class="form-label">
                    File Status
                </label>
                <input id="ahrFileStatus" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAhrRecords[0]?.fileStatus" pInputText>
            </div>
        </div>
        <br>
        <div class="row m-2">
            <div class="col-3">
                <label for="ahrErrorRemarks" class="form-label">
                    Error Remarks
                </label>
                <input id="ahrErrorRemarks" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAhrRecords[0]?.errorRemarks" pInputText>
            </div>
        </div>
    </div>
    <br *ngIf="ackNakDetail?.acknakAtrRecords.length > 0">
    <hr *ngIf="ackNakDetail?.acknakAtrRecords.length > 0">
    <div class="m-2" *ngIf="ackNakDetail?.acknakAtrRecords.length > 0">
        <h6>ACK NAK ATR Records</h6>
        <div class="row m-2">
            <div class="col-3">
                <label for="atrErrorRemarks" class="form-label">
                    Error Remarks
                </label>
                <input id="atrErrorRemarks" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAtrRecords[0]?.errorRemarks" pInputText>
            </div>
            <div class="col-3">
                <label for="atrRecType" class="form-label">
                    Rec Type
                </label>
                <input id="atrRecType" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAtrRecords[0]?.recType" pInputText>
            </div>
            <div class="col-3">
                <label for="atrRecData" class="form-label">
                    Rec Data
                </label>
                <input id="atrRecData" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAtrRecords[0]?.recData" pInputText>
            </div>
            <div class="col-3">
                <label for="atrFileStatus" class="form-label">
                    File Status
                </label>
                <input id="atrFileStatus" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAtrRecords[0]?.fileStatus" pInputText>
            </div>
        </div>
        <br>
        <div class="row m-2">
            <div class="col-3">
                <label for="atrNumberOfLines" class="form-label">
                    Number Of Lines
                </label>
                <input id="atrNumberOfLines" class="form-control" readonly type="text" [value]="ackNakDetail?.acknakAtrRecords[0]?.numberOfLines" pInputText>
            </div>
        </div>
    </div>
</div>
