<div class="login-container">
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-6">
                <div class="left-block">
                </div>
            </div>
            <div class="col-12 col-sm-6">
                <div class="right-block">
                    <div class="logo"><img src="../assets/images/dummy-logo.png" /></div>
                    <h2>Welcome !</h2>
                    <p>Enter your email and password to access your account</p>
                    <div class="field-block">
                        <form (ngSubmit)="onLogin()" #loginForm="ngForm">
                            <div class="input-block">
                                <label class="fieldtitle" for="email">Email</label>
                                <input type="email" id="email" class="form-control" placeholder="Enter your email"
                                    required [(ngModel)]="user.email" name="email" #email="ngModel" />
                                <div *ngIf="email.invalid && email.touched" class="text-danger">
                                    A valid email is required.
                                </div>
                            </div>

                            <div class="input-block">
                                <label class="fieldtitle" for="password">Password</label>
                                <input type="password" id="password" class="form-control"
                                    placeholder="Enter your password" required [(ngModel)]="user.password"
                                    name="password" #password="ngModel" />
                                <div *ngIf="password.invalid && password.touched" class="text-danger">
                                    Password is required.
                                </div>
                            </div>
                            <div class="input-block">
                                <div class="clearfix"></div>
                                <!-- <div class="rememberme text-start">
                                    <input type="checkbox" id="rememberMe" [(ngModel)]="user.rememberMe"
                                        name="rememberMe" />
                                    <label for="rememberMe">Remember Me</label>
                                </div> -->
                                <div>
                                    <a class="forgotpass" routerLink="/forgot-password">Forgot
                                        Password?</a>
                                </div>


                            </div>

                            <button type="submit" name="signin" class="signin-btn">Sign In</button>
                        </form>
                        <div class="or-divider">OR</div>
                        <button class="google-btn"><img src="../assets/images/Google__G__Logo.png" /> Continue with
                            Google</button>
                    </div>

                    <div class="noaccount">Don't have an account? <a routerLink="/signup">Sign
                            Up</a></div>
                    <div class="clearfix"></div>

                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
<p-toast></p-toast>
