<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title">Change Password</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
            <div class="mb-3">
              <label for="oldPassword" class="form-label">Old Password</label>
              <input id="oldPassword" formControlName="oldPass" type="password" class="form-control" />
              <div *ngIf="oldPass?.invalid && (oldPass?.dirty || oldPass?.touched)" class="text-danger">
                <small *ngIf="oldPass?.errors?.['required']">Old password is required.</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="newPassword" class="form-label">New Password</label>
              <input id="newPassword" formControlName="newPassword" type="password" class="form-control" />
              <div *ngIf="newPassword?.invalid && (newPassword?.dirty || newPassword?.touched)" class="text-danger">
                <small *ngIf="newPassword?.errors?.['required']">New password is required.</small>
                <small *ngIf="newPassword?.errors?.['minlength']">New password must be at least 6 characters long.</small>
              </div>
            </div>

            <div class="mb-3">
              <label for="confirmPassword" class="form-label">Confirm New Password</label>
              <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control" />
              <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
                <small *ngIf="confirmPassword?.errors?.['required']">Confirm password is required.</small>
                <small *ngIf="confirmPassword?.errors?.['mustMatch']">Passwords must match.</small>
              </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="changePasswordForm.invalid">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast></p-toast>
