<div class="card">
    <p-table #dt1 dataKey="code" [value]="this.getAllAckNckFilesList" [scrollable]="true" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">Ack Nak File Name</th>
                <th style="min-width:200px">Ack Nak For File Name</th>
                <th style="min-width:200px">Ack Nak For File Type</th>
                <th style="min-width:200px">Ack Nak File Status</th>
                <th style="min-width:200px">Ack Nak File Remarks</th>
                <th style="min-width:200px">Ack Nak File Date</th>
                <th style="min-width:200px">Ack Nak File Type</th>
                <th style="min-width:200px">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.ackNakFileName}}</td>
                <td>{{data.acknakForFileName}}</td>
                <td>{{data.acknakForFileType}}</td>
                <td>{{data.ackNakFileStatus}}</td>
                <td>{{data.ackNakfileRemarks}}</td>
                <td>{{data.acknakFileDate}}</td>
                <td>{{data.acknakFileType}}</td>
                <td>
                    <p-button pRipple class="m-2" icon="pi pi-eye" severity="info" label="ACK/NAK"
                        badgeClass="p-badge-contrast" [outlined]="true" (click)="viewAckNakDetail(data)" />
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" [attr.colspan]="7">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>