<div class="card">
    <div class="row m-2">
        <div class="col-3">
            <label for="rfaFileName" class="form-label">RFA File Name</label>
            <input id="rfaFileName" class="form-control" readonly type="text" [ngModel]="rfaDetail?.rfaFileName" pInputText>
        </div>
        <div class="col-3">
            <label for="fileReason" class="form-label">File Reason</label>
            <input id="fileReason" class="form-control" readonly type="text" [ngModel]="rfaDetail?.fileReason" pInputText>
        </div>
        <div class="col-3">
            <label for="fileCreationDate" class="form-label">File Creation Date</label>
            <input id="fileCreationDate" class="form-control" readonly type="text" [ngModel]="rfaDetail?.fileCreationDate" pInputText>
        </div>
        <div class="col-3">
            <label for="fileStatus" class="form-label">File Status</label>
            <input id="fileStatus" class="form-control" readonly type="text" [ngModel]="rfaDetail?.fileStatus" pInputText>
        </div>
    </div>
    <br *ngIf="rfaDetail?.makerDate">
    <div class="row m-2" *ngIf="rfaDetail?.makerDate">
        <div class="col-3">
            <label for="makerDate" class="form-label">Maker Date</label>
            <input id="makerDate" class="form-control" readonly type="text" [ngModel]="rfaDetail?.makerDate" pInputText>
        </div>
    </div>
    <br *ngIf="rfaDetail?.rfaarcrecords?.length > 0">
    <hr *ngIf="rfaDetail?.rfaarcrecords?.length > 0">
    <div class="m-2" *ngIf="rfaDetail?.rfaarcrecords?.length > 0">
        <h6>RFA Arc Records</h6>
        <div class="row m-2">
            <div class="col-3">
                <label for="agentRef" class="form-label">Agent Ref</label>
                <input id="agentRef" class="form-control" readonly type="text" [ngModel]="rfaDetail?.rfaarcrecords[0]?.agentRef" pInputText>
            </div>
            <div class="col-3">
                <label for="recordType" class="form-label">Record Type</label>
                <input id="recordType" class="form-control" readonly type="text" [ngModel]="rfaDetail?.rfaarcrecords[0]?.recordType" pInputText>
            </div>
            <div class="col-3">
                <label for="returnAmt" class="form-label">Return Amt</label>
                <input id="returnAmt" class="form-control" readonly type="text" [ngModel]="rfaDetail?.rfaarcrecords[0]?.returnAmt" pInputText>
            </div>
        </div>
    </div>
    <br>
    <hr>
    <div class="m-2">
        <h6>RFA Ari Records</h6>
        <div class="m-2">
            <p-table #dt1 dataKey="code" [value]="rfaDetail?.rfaarirecords" [scrollable]="true" [paginator]="true"
                [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [selectionPageOnly]="true"
                [tableStyle]="{'min-width': '50rem'}" aria-label="RFA Ari Records Table">
                <ng-template pTemplate="header">
                    <tr>
                        <th class="min-width-200px">Employee Id</th>
                        <th class="min-width-200px">Record Type</th>
                        <th class="min-width-200px">Amt Return</th>
                        <th class="min-width-200px">Corp Employer Id</th>
                        <th class="min-width-200px">Return Reason Code</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td>{{data.empId}}</td>
                        <td>{{data.recordType}}</td>
                        <td>{{data.amtReturn}}</td>
                        <td>{{data.employerId}}</td>
                        <td>{{data.returnReasonCode}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td class="text-center" [attr.colspan]="5">No records found</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
