<div class="card">
    <p-table #dt1 dataKey="code" [value]="this.getAllDifFilesList" [scrollable]="true" [paginator]="true" [rows]="10"
        [rowsPerPageOptions]="[10, 25, 50]" [selectionPageOnly]="true" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th style="min-width:200px">PAF File Name</th>
                <th style="min-width:200px">PAF Status For Api</th>
                <th style="min-width:200px">PAF Status For File</th>
                <th style="min-width:200px">Record type</th>
                <th style="min-width:200px">Emp Id</th>
                <th style="min-width:200px">Agenet Ref No</th>
                <th style="min-width:200px">Agent Routing Code</th>
                <th style="min-width:200px">Available Bal</th>
                <th style="min-width:200px">Emp Acct With Agent</th>
                <th style="min-width:200px">Remmit Amt</th>
                <th style="min-width:200px">Remmit Ref Number</th>
                <th style="min-width:200px">Total Txn Amt</th>
                <th style="min-width:200px">Txn Amt</th>
                <th style="min-width:200px">Txn Date</th>
                <th style="min-width:200px">Txn Ref No</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-data>
            <tr>
                <td>{{data.pafFileName}}</td>
                <td>{{data.pafStatusForApi}}</td>
                <td>{{data.pafStatusForFile}}</td>
                <td>{{data.recordtype}}</td>
                <td>{{data.empId}}</td>
                <td>{{data.agenetrefNo}}</td>
                <td>{{data.agentRoutingCode}}</td>
                <td>{{data.availableBal}}</td>
                <td>{{data.empAcctWithAgent}}</td>
                <td>{{data.remmitAmt}}</td>
                <td>{{data.remmitRefNumber}}</td>
                <td>{{data.totalTxnAmt}}</td>
                <td>{{data.txnAmt}}</td>
                <td>{{data.txnDate}}</td>
                <td>{{data.txnRefNo}}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td class="text-center" [attr.colspan]="7">
                    No records found
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>