<div class="wrapper">
  <div class="left-sidebar">
    <div class="logo">
      <img src="/assets/images/dummy-logo.png" />
    </div>
    <div class="user-detail">
      <div class="user-pic"><img src="/assets/images/profile-pic.png" alt="Profile Picture" /></div>
      <div class="user-name">Adam Atkins</div>
    </div>
    <div class="left-menu">
      <ul>
        <li><a class="nav-link" routerLink="/sif" routerLinkActive="active">
            <img src="/assets/images/sif-ico.png" class="ico" alt="Salary Information Icon" />Salary Information File
          </a></li>
        <li><a class="nav-link" routerLink="/pif" routerLinkActive="active">
            <img src="/assets/images/pif-ico.png" class="ico" alt="Personal Information Icon" />Personal
            Information File</a></li>
        <li><a class="nav-link" routerLink="/ack-nck" routerLinkActive="active">
            <img src="/assets/images/pif-ico.png" class="ico" alt="Ack & Nck" />Ack & Nck</a></li>
        <li><a class="nav-link" routerLink="/prf" routerLinkActive="active">
            <img src="/assets/images/prf-ico.png" class="ico" alt="Personal Relationship Icon" />Personal
            Relationship File</a></li>
        <li><a href=""><img src="/assets/images/pfa-ico.png" class="ico" alt="Personal Filteration Icon" />Personal
            Filteration File</a></li>
        <li><a class="nav-link" routerLink="/dif" routerLinkActive="active">
            <img src="/assets/images/dif-ico.png" class="ico" alt="Department Information Icon" />Department
            Information File</a>
          <ul class="submenu">
            <li>
              <a class="nav-link" routerLink="/dif/config" routerLinkActive="active">
                Dif Config
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/dif/transaction" routerLinkActive="active">
                Transactions
              </a>
            </li>
          </ul>
        </li>
        <li><a class="nav-link" routerLink="/dcr" routerLinkActive="active">
            <img src="/assets/images/dif-ico.png" class="ico" alt="Disbursement Cancellation Request" />Disbursement
            Cancellation Request</a>
          <ul class="submenu">
            <li>
              <a class="nav-link" routerLink="/dcr/config" routerLinkActive="active">
                Dif Config
              </a>
            </li>
            <li>
              <a class="nav-link" routerLink="/dcr/transaction" routerLinkActive="active">
                Transactions
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="right-panel">
    <div class="header">
      <div class="profile-detail">
        <span class="user-name">Hello Adam!</span>
        <span class="user-pic"><img src="/assets/images/profile-pic.png" /></span>
      </div>
    </div>
    <div class="mid-container">
      <app-loader [showLoader]="commonService._isLoading$ | async"></app-loader>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>